# Business Problem:

## Background

Add Information Education/Grad rates in the Tri-State area

## Problem Statement

Predict which schools have high and which schools have low high school graduation rates. Identify which characteristics are the best indicator of high and low graduation rates so that school districts know where to focus resources when attempting to increase high school graduation rates.

# Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
# import xgboost as xgb
import catboost
import time
import warnings
warnings.filterwarnings('ignore')

from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from catboost import Pool, sum_models
from catboost import CatBoostClassifier
from statsmodels.formula.api import ols
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, balanced_accuracy_score
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder,  OneHotEncoder, MinMaxScaler, StandardScaler 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from scipy.stats import uniform, truncnorm, randint

# Data Exploration

## Data Load

In [2]:
#New York school and district data
df_school_NY = pd.read_csv('data/EducationDataPortal_schools_NY.csv')
df_district_NY = pd.read_csv('data/EducationDataPortal_districts_NY.csv')

In [3]:
#Pennsylvania school and district data 
df_school_PA = pd.read_csv('data/EducationDataPortal_schools_PA.csv')
df_district_PA = pd.read_csv('data/EducationDataPortal_districts_PA.csv')

In [4]:
#New Jersey school and district data
df_school_NJ = pd.read_csv('data/EducationDataPortal_schools_PA.csv')
df_district_NJ = pd.read_csv('data/EducationDataPortal_districts_PA.csv')

## Functions

In [5]:
# Returns the percentage of values in a dataframe that are nulls
def percent_null_df (df,str_name):
    count_null = df.isnull().sum().sum()
    count_non_null = df.count().sum()
    return 'percent of nulls in '+ str_name +' is '+str(int((count_null/(count_null + count_non_null))*100))+'%'

## df_school

In [6]:
#Concatenate school info for all three states into one dataframe
df_school = pd.concat([df_school_NY, df_school_PA, df_school_NJ])

### Data Fields

In [7]:
df_school.head()

,year,ncessch,school_name,state_name,lea_name,zip_location,urban_centric_locale,school_level,school_type,charter,...,enrl_algebra2,enrl_physics,enrl_geometry,instances_mech_restraint,instances_phys_restraint,instances_seclusion,students_mech_restraint,students_phys_restraint,students_seclusion,students_SAT_ACT
0,2015,360000104498,JAMES A GREEN HIGH SCHOOL,New York,DOLGEVILLE CENTRAL SCHOOL DISTRICT,13329,"Rural, distant",High,Regular school,No,...,28.0,10.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
1,2015,360000204500,SAUQUOIT VALLEY HIGH SCHOOL,New York,SAUQUOIT VALLEY CENTRAL SCHOOL DISTRICT,13456,"Rural, fringe",High,Regular school,No,...,43.0,28.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,71.0
2,2015,360000304543,EDWARDS-KNOX JUNIOR-SENIOR HIGH SCHOOL,New York,EDWARDS-KNOX CENTRAL SCHOOL DISTRICT,13652,"Rural, remote",High,Regular school,No,...,16.0,13.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0
3,2015,360000404545,MOHONASEN SENIOR HIGH SCHOOL,New York,ROTTERDAM-MOHONASEN CENTRAL SCHOOL DISTRICT,12303,"Suburb, large",High,Regular school,No,...,107.0,41.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,606.0
4,2015,360000500282,BROADALBIN-PERTH HIGH SCHOOL,New York,BROADALBIN-PERTH CENTRAL SCHOOL DISTRICT,12025,"Rural, distant",High,Regular school,No,...,32.0,29.0,73.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0

In [8]:
df_school.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7181 entries, 0 to 3077
Data columns (total 64 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             7181 non-null   int64
 1   ncessch                          7181 non-null   int64
 2   school_name                      7181 non-null   object
 3   state_name                       7181 non-null   object
 4   lea_name                         7181 non-null   object
 5   zip_location                     7181 non-null   int64
 6   urban_centric_locale             7181 non-null   object
 7   school_level                     7181 non-null   object
 8   school_type                      7181 non-null   object
 9   charter                          7181 non-null   object
 10  enrollment                       7063 non-null   object
 11  read_test_num_valid              6782 non-null   float64
 12  read_test_pct_prof_low           6782 non-null   object
 13  read_test_pct_prof_high          6782 non-null   object
 14  read_test_pct_prof_midpt         6782 non-null   object
 15  math_test_num_valid              6782 non-null   float64
 16  math_test_pct_prof_low           6782 non-null   object
 17  math_test_pct_prof_high          6782 non-null   object
 18  math_test_pct_prof_midpt         6782 non-null   object
 19  students_susp_in_sch             6927 non-null   object
 20  students_susp_out_sch_single     6927 non-null   object
 21  students_susp_out_sch_multiple   6927 non-null   object
 22  expulsions_no_ed_serv            6927 non-null   object
 23  expulsions_with_ed_serv          6927 non-null   object
 24  expulsions_zero_tolerance        6927 non-null   object
 25  students_corporal_punish         6927 non-null   object
 26  students_arrested                6927 non-null   object
 27  students_referred_law_enforce    6927 non-null   object
 28  transfers_alt_sch_disc           6927 non-null   float64
 29  days_suspended                   6536 non-null   float64
 30  suspensions_instances_preschool  6536 non-null   float64
 31  suspensions_instances            6536 non-null   float64
 32  corpinstances_preschool          6536 non-null   float64
 33  corpinstances                    6536 non-null   float64
 34  salaries_teachers                6536 non-null   object
 35  cohort_num                       2349 non-null   float64
 36  grad_rate_high                   2349 non-null   object
 37  grad_rate_low                    2349 non-null   object
 38  grad_rate_midpt                  2349 non-null   object
 39  allegations_harass_sex           6927 non-null   object
 40  allegations_harass_race          6927 non-null   object
 41  allegations_harass_disability    6927 non-null   object
 42  allegations_harass_orientation   6927 non-null   object
 43  allegations_harass_religion      6927 non-null   object
 44  students_disc_harass_dis         6927 non-null   float64
 45  students_disc_harass_race        6927 non-null   float64
 46  students_disc_harass_sex         6927 non-null   float64
 47  students_report_harass_dis       6927 non-null   float64
 48  students_report_harass_race      6927 non-null   float64
 49  students_report_harass_sex       6927 non-null   float64
 50  enrl_biology                     2001 non-null   float64
 51  enrl_chemistry                   1925 non-null   float64
 52  enrl_advanced_math               1755 non-null   float64
 53  enrl_calculus                    1666 non-null   float64
 54  enrl_algebra2                    1976 non-null   float64
 55  enrl_physics                     1780 non-null   float64
 56  enrl_geometry                    1988 non-null   float64
 57  instances_mech_restraint         6094 non-null   float64
 58  instances_phys_restraint         6485 non-null   float64
 59  instances_seclusion              6485 non-null   float64
 60  students_mech_restraint          6096 non-null   float64
 61  students_phys_restraint          6487 non-null   float64
 62  students_seclusion               6487 non-null   float64
 63  students_SAT_ACT                 6927 non-null   float64
dtypes: float64(29), int64(3), object(32)
memory usage: 3.6+ MB

### school_type

In [9]:
df_school['school_type'].value_counts(normalize=True, dropna=False)

Regular school              0.962401
Vocational school           0.026319
Other/alternative school    0.007520
Special education school    0.003760
Name: school_type, dtype: float64

In [10]:
df_school_regular = df_school.loc[df_school['school_type'] == 'Regular school']
df_school_regular

,year,ncessch,school_name,state_name,lea_name,zip_location,urban_centric_locale,school_level,school_type,charter,...,enrl_algebra2,enrl_physics,enrl_geometry,instances_mech_restraint,instances_phys_restraint,instances_seclusion,students_mech_restraint,students_phys_restraint,students_seclusion,students_SAT_ACT
0,2015,360000104498,JAMES A GREEN HIGH SCHOOL,New York,DOLGEVILLE CENTRAL SCHOOL DISTRICT,13329,"Rural, distant",High,Regular school,No,...,28.0,10.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
1,2015,360000204500,SAUQUOIT VALLEY HIGH SCHOOL,New York,SAUQUOIT VALLEY CENTRAL SCHOOL DISTRICT,13456,"Rural, fringe",High,Regular school,No,...,43.0,28.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,71.0
2,2015,360000304543,EDWARDS-KNOX JUNIOR-SENIOR HIGH SCHOOL,New York,EDWARDS-KNOX CENTRAL SCHOOL DISTRICT,13652,"Rural, remote",High,Regular school,No,...,16.0,13.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0
3,2015,360000404545,MOHONASEN SENIOR HIGH SCHOOL,New York,ROTTERDAM-MOHONASEN CENTRAL SCHOOL DISTRICT,12303,"Suburb, large",High,Regular school,No,...,107.0,41.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,606.0
4,2015,360000500282,BROADALBIN-PERTH HIGH SCHOOL,New York,BROADALBIN-PERTH CENTRAL SCHOOL DISTRICT,12025,"Rural, distant",High,Regular school,No,...,32.0,29.0,73.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3009,2015,422685004657,York Suburban MS,Pennsylvania,York Suburban SD,17402,"Suburb, midsize",Middle,Regular school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3010,2015,422685004658,York Suburban SHS,Pennsylvania,York Suburban SD,17403,"Suburb, midsize",High,Regular school,No,...,236.0,148.0,208.0,0.0,0.0,0.0,0.0,0.0,0.0,189.0
3011,2015,422685006688,Indian Rock El Sch,Pennsylvania,York Suburban SD,17403,"Suburb, midsize",Primary,Regular school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3012,2015,422685007305,Valley View El Sch,Pennsylvania,York Suburban SD,17403,"Suburb, midsize",Primary,Regular school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3013,2015,422685007416,Yorkshire El Sch,Pennsylvania,York Suburban SD,17402,"Suburb, midsize",Primary,Regular school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_school_alternative = df_school.loc[df_school['school_type'] == 'Other/alternative school']
df_school_alternative

,year,ncessch,school_name,state_name,lea_name,zip_location,urban_centric_locale,school_level,school_type,charter,...,enrl_algebra2,enrl_physics,enrl_geometry,instances_mech_restraint,instances_phys_restraint,instances_seclusion,students_mech_restraint,students_phys_restraint,students_seclusion,students_SAT_ACT
13,2015,360001706539,ALLEGANY CO SHERIFF C/O TREASURER,New York,GENESEE VALLEY CENTRAL SCHOOL DISTRICT,14813,"Rural, distant",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,360001806526,CHAUTAUQUA COUNTY JAIL,New York,CHAUTAUQUA LAKE CENTRAL SCHOOL DISTRICT,14757,"Rural, distant",High,Other/alternative school,No,...,NaN,NaN,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2015,360005304411,JOHN V LINDSAY WILDCAT ACADEMY CHARTER SCHOOL,New York,JOHN V LINDSAY WILDCAT ACADEMY CHARTER SCHOOL,10004,"City, large",High,Other/alternative school,Yes,...,17.0,NaN,176.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
21,2015,360007600624,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 1,10002,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,30.0
23,2015,360007603352,CASCADES HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 1,10002,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,14.0
33,2015,360007700637,LIBERTY HIGH SCHOOL ACADEMY FOR NEWCOMERS,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10011,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,19.0
34,2015,360007700649,HS 560 CITY-AS-SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10014,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,25.0
62,2015,360007705566,INDEPENDENCE HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10019,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
87,2015,360007800619,EDWARD A REYNOLDS WEST SIDE HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 3,10025,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
107,2015,360008105758,HARLEM RENAISSANCE HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 5,10035,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,8.0
126,2015,360008405761,CROTONA ACADEMY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 7,10457,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
179,2015,360008705760,PROVIDING URBAN LEARNERS SUCCESS IN EDUCATION ...,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #10,10455,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
202,2015,360009000744,BRONX REGIONAL HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #12,10459,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
216,2015,360009100847,BEDFORD STUYVESANT PREPARATORY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #13,11216,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
224,2015,360009105563,BROOKLYN ACADEMY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #13,11216,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,6.0
236,2015,360009205864,WEST BROOKLYN COMMUNITY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #15,11218,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
256,2015,360009505762,BROWNSVILLE ACADEMY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #17,11212,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
295,2015,360009806544,ROSE M SINGER CENTER,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #24,11370,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,2015,360010300962,CONCORD HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #31,10304,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
372,2015,360012205503,QUEENS ACADEMY HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT #25,11354,"City, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,12.0
386,2015,360013106465,HIGHLAND RESIDENTIAL CENTER,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,12528,"Rural, fringe",High,Other/alternative school,No,...,NaN,NaN,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
387,2015,360013106472,MACCORMICK SECURE CENTER,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,14817,"Rural, distant",High,Other/alternative school,No,...,4.0,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
388,2015,360013106475,GOSHEN SECURE CENTER,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,10924,"Rural, fringe",High,Other/alternative school,No,...,4.0,NaN,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
389,2015,360013106492,COLUMBIA SECURE CENTER FOR GIRLS,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,12513,"Rural, fringe",High,Other/alternative school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
390,2015,360013106498,BRENTWOOD RESIDENTIAL CENTER,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,11746,"Suburb, large",High,Other/alternative school,No,...,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
391,2015,360013106502,YOUTH LEADERSHIP ACADEMY,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,13842,"Rural, remote",High,Other/alternative school,No,...,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
392,2015,360013106514,FINGER LAKES RESIDENTIAL CENTER,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,14882,"Rural, fringe",High,Other/alternative school,No,...,NaN,NaN,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
393,2015,360013106519,BROOKWOOD SECURE CENTER,New York,NEW YORK STATE OFFICE OF CHILDREN AND FAMILY S...,12513,"Rural, fringe",High,Other/alternative school,No,...,NaN,NaN,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
448,2015,360110406449,NEWBURGH PREPARATORY CHARTER HIGH SCHOOL,New York,NEWBURGH PREPARATORY CHARTER HIGH SCHOOL,12550,"Suburb, large",High,Other/alternative school,Yes,...,NaN,NaN,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
457,2015,360246006537,CAP DIST JUVENILE SECURE DETENTION,New York,ALBANY CITY SCHOOL DISTRICT,12211,"Suburb, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
511,2015,360585006262,ALTERNATIVE HIGH SCHOOL AT 44,New York,BUFFALO CITY SCHOOL DISTRICT,14212,"City, large",High,Other/alternative school,No,...,36.0,NaN,54.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
561,2015,360840005574,CORNING PAINTED POST HIGH SCHOOL LEARNING CENTER,New York,CORNING CITY SCHOOL DISTRICT,14830,"Rural, fringe",High,Other/alternative school,No,...,NaN,NaN,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
585,2015,360984006471,COUNTY OF NASSAU/CORRECTIONAL CENTER,New York,EAST MEADOW UNION FREE SCHOOL DISTRICT,11554,"Suburb, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,2015,361251002027,VILLAGE SCHOOL,New York,GREAT NECK UNION FREE SCHOOL DISTRICT,11023,"Suburb, large",High,Other/alternative school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
674,2015,361503001257,GEORGE JUNIOR REPUBLIC SCHOOL,New York,GEORGE JUNIOR REPUBLIC UNION FREE SCHOOL DISTRICT,13068,"Rural, fringe",High,Other/alternative school,No,...,57.0,NaN,48.0,0.0,54.0,0.0,0.0,124.0,0.0,6.0
764,2015,362010000365,NELSON R MANDELA/DR HOSEA ZOLLICOFFER HIGH SCHOOL,New York,MOUNT VERNON SCHOOL DISTRICT,10550,"Suburb, large",High,Other/alternative school,No,...,49.0,NaN,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
772,2015,362034006499,ROCKLAND COUNTY SHERIFFS DEPARTMENT,New York,CLARKSTOWN CENTRAL SCHOOL DISTRICT,10956,"Suburb, large",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
954,2015,362895006491,RENSSELAER COUNTY JAIL,New York,TROY CITY SCHOOL DISTRICT,12180,"City, small",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,2015,362988005598,ORCHARD VIEW ALTERNATIVE HIGH SCHOOL,New York,WAPPINGERS CENTRAL SCHOOL DISTRICT,12533,"Rural, fringe",High,Other/alternative school,No,...,NaN,NaN,9.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1024,2015,368070006512,TECH VALLEY HIGH SCHOOL,New York,RENSSELAER-COLUMBIA-GREENE BOCES,12203,"City, small",High,Other/alternative school,No,...,20.0,29.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
14,2015,420002200348,Cresson Secure Treatment Unit,Pennsylvania,Cresson Secure Treatment Unit,16630,"Rural, fringe",Not applicable,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,420002500355,South Mountain Secure Trmnt Un,Pennsylvania,South Mountain Secure Trmnt Un,17261,"Rural, fringe",High,Other/alternative school,No,...,NaN,22.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0
34,2015,420004900462,Danville Ctr Adolescent Female,Pennsylvania,Danville Ctr Adolescent Female,17821,"Suburb, small",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,2015,420993107192,Youth Forestry Camp #3,Pennsylvania,Youth Forestry Camp #3,16657,"Rural, distant",High,Other/alternative school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0
1023,2015,420993207193,Loysville Youth Dev Ctr,Pennsylvania,Loysville Youth Dev Ctr,17047,"Rural, distant",Other,Other/alternative school,No,...,NaN,NaN,NaN,0.0,5.0,0.0,0.0,15.0,0.0,12.0
1024,2015,420993307194,North Central Secure Trmnt Unt,Pennsylvania,North Central Secure Trmnt Unt,17821,"Rural, fringe",High,Other/alternative school,No,...,2.0,NaN,2.0,0.0,11.0,0.0,0.0,0.0,0.0,4.0
1025,2015,420993407195,Youth Forestry Camp #2,Pennsylvania,Youth Forestry Camp #2,18661,"Rural, distant",High,Other/alternative school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2015,420002200348,Cresson Secure Treatment Unit,Pennsylvania,Cresson Secure Treatment Unit,16630,"Rural, fringe",Not applicable,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,420002500355,South Mountain Secure Trmnt Un,Pennsylvania,South Mountain Secure Trmnt Un,17261,"Rural, fringe",High,Other/alternative school,No,...,NaN,22.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0
34,2015,420004900462,Danville Ctr Adolescent Female,Pennsylvania,Danville Ctr Adolescent Female,17821,"Suburb, small",High,Other/alternative school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1022,2015,420993107192,Youth Forestry Camp #3,Pennsylvania,Youth Forestry Camp #3,16657,"Rural, distant",High,Other/alternative school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,9.0
1023,2015,420993207193,Loysville Youth Dev Ctr,Pennsylvania,Loysville Youth Dev Ctr,17047,"Rural, distant",Other,Other/alternative school,No,...,NaN,NaN,NaN,0.0,5.0,0.0,0.0,15.0,0.0,12.0
1024,2015,420993307194,North Central Secure Trmnt Unt,Pennsylvania,North Central Secure Trmnt Unt,17821,"Rural, fringe",High,Other/alternative school,No,...,2.0,NaN,2.0,0.0,11.0,0.0,0.0,0.0,0.0,4.0
1025,2015,420993407195,Youth Forestry Camp #2,Pennsylvania,Youth Forestry Camp #2,18661,"Rural, distant",High,Other/alternative school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_school_vocational = df_school.loc[df_school['school_type'] == 'Vocational school']
df_school_vocational

,year,ncessch,school_name,state_name,lea_name,zip_location,urban_centric_locale,school_level,school_type,charter,...,enrl_algebra2,enrl_physics,enrl_geometry,instances_mech_restraint,instances_phys_restraint,instances_seclusion,students_mech_restraint,students_phys_restraint,students_seclusion,students_SAT_ACT
41,2015,360007701911,ART AND DESIGN HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10019,"City, large",High,Vocational school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,190.0
42,2015,360007701934,CHELSEA CAREER AND TECHNICAL EDUCATION HIGH SC...,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10013,"City, large",High,Vocational school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,60.0
43,2015,360007701949,HIGH SCHOOL OF FASHION INDUSTRIES (THE),New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10011,"City, large",High,Vocational school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,463.0
52,2015,360007704519,HIGH SCHOOL OF GRAPHIC COMMUNICATION ARTS,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 2,10019,"City, large",High,Vocational school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,14.0
120,2015,360008401909,ALFRED E SMITH CAREER AND TECHNICAL HIGH SCHOOL,New York,NEW YORK CITY GEOGRAPHIC DISTRICT # 7,10451,"City, large",High,Vocational school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,2015,428062007104,Schuylkill Technology Centers-South Camp,Pennsylvania,Schuylkill Technology Centers,17951,"Town, distant",High,Vocational school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3074,2015,428063007105,Seneca Highlands Career and Technical Ce,Pennsylvania,Seneca Highlands Career and Technical Center,16743,"Rural, remote",High,Vocational school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3075,2015,428066007107,Indiana County Technology Center,Pennsylvania,Indiana County Technology Center,15701,"Rural, fringe",High,Vocational school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3076,2015,428067007108,Keystone Central CTC,Pennsylvania,Keystone Central CTC,17751,"Rural, fringe",High,Vocational school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3077,2015,428939309994,Lycoming CTC,Pennsylvania,Lycoming CTC,17737,"Town, fringe",High,Vocational school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_school_special = df_school.loc[df_school['school_type'] == 'Special education school']
df_school_special

,year,ncessch,school_name,state_name,lea_name,zip_location,urban_centric_locale,school_level,school_type,charter,...,enrl_algebra2,enrl_physics,enrl_geometry,instances_mech_restraint,instances_phys_restraint,instances_seclusion,students_mech_restraint,students_phys_restraint,students_seclusion,students_SAT_ACT
395,2015,360013500806,PS 373 BROOKLYN TRANSITION CENTER,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,11206,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0
396,2015,360013501923,PS 721 STEVEN MCSWEENEY SCHOOL,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,10461,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,18.0
397,2015,360013502026,PS 721 MANHATTAN OCCUPATIONAL TRAINING CENTER,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,10014,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
398,2015,360013502827,PS 371 LILLIAN L RASHKIS,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,11232,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,6.0
399,2015,360013502844,PS 811,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,10459,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
400,2015,360013502859,JOHN F KENNEDY JR SCHOOL,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,11373,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
401,2015,360013502870,MANHATTAN SCHOOL FOR CAREER DEVELOPMENT,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,10003,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
402,2015,360013504319,PS 753 SCHOOL FOR CAREER DEVELOPMENT,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,11238,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0
403,2015,360013504481,QUEENS TRANSITION CENTER,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,11436,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,4.0
404,2015,360013504522,JM RAPPORT SCHOOL FOR CAREER DEVELOPMENT,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,10455,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0
405,2015,360013504807,PS 79 HORAN SCHOOL,New York,NYC SPECIAL SCHOOLS - DISTRICT 75,10035,"City, large",High,Special education school,No,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,0.0
485,2015,360459000202,BERKSHIRE JUNIOR-SENIOR HIGH SCHOOL,New York,BERKSHIRE UNION FREE SCHOOL DISTRICT,12029,"Rural, fringe",High,Special education school,No,...,17.0,NaN,15.0,0.0,19.0,0.0,0.0,36.0,0.0,0.0
486,2015,360459006542,WARREN STREET ACADEMY,New York,BERKSHIRE UNION FREE SCHOOL DISTRICT,12534,"Town, distant",High,Special education school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,2015,361240004295,MARTIN LUTHER KING JR HIGH SCHOOL,New York,GREENBURGH-GRAHAM UNION FREE SCHOOL DISTRICT,10706,"Suburb, large",High,Special education school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,19.0
933,2015,362798003792,GREENBURGH ACADEMY,New York,GREENBURGH-NORTH CASTLE UNION FREE SCHOOL DIST...,10701,"Suburb, large",High,Special education school,No,...,NaN,NaN,NaN,0.0,4.0,0.0,0.0,8.0,0.0,0.0
934,2015,362798004904,REACH ACADEMY (THE),New York,GREENBURGH-NORTH CASTLE UNION FREE SCHOOL DIST...,10604,"Suburb, large",High,Special education school,No,...,NaN,NaN,NaN,0.0,96.0,0.0,0.0,18.0,0.0,0.0
935,2015,362798005843,CLARK ACADEMY,New York,GREENBURGH-NORTH CASTLE UNION FREE SCHOOL DIST...,10522,"Suburb, large",High,Special education school,No,...,NaN,NaN,NaN,0.0,27.0,0.0,0.0,33.0,0.0,0.0
936,2015,362798006356,KAPLAN CAREER ACADEMY,New York,GREENBURGH-NORTH CASTLE UNION FREE SCHOOL DIST...,12553,"Suburb, large",High,Special education school,No,...,NaN,16.0,6.0,0.0,21.0,0.0,0.0,16.0,0.0,0.0
1023,2015,368034004633,FRANKLIN-ESSEX-HAMILTON BOCES,New York,FRANKLIN-ESSEX-HAMILTON BOCES,12953,"Rural, fringe",High,Special education school,No,...,NaN,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2027,2015,421899003728,Widener Memorial Sch,Pennsylvania,Philadelphia City SD,19141,"City, large",Other,Special education school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2209,2015,421917006047,Pittsburgh Oliver,Pennsylvania,Pittsburgh SD,15212,"City, large",Other,Special education school,No,...,NaN,23.0,32.0,0.0,3.0,0.0,0.0,2.0,0.0,2.0
2210,2015,421917006664,Pittsburgh Pioneer,Pennsylvania,Pittsburgh SD,15226,"City, large",Other,Special education school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2221,2015,421917006811,Pittsburgh Conroy,Pennsylvania,Pittsburgh SD,15233,"City, large",Other,Special education school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2027,2015,421899003728,Widener Memorial Sch,Pennsylvania,Philadelphia City SD,19141,"City, large",Other,Special education school,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2209,2015,421917006047,Pittsburgh Oliver,Pennsylvania,Pittsburgh SD,15212,"City, large",Other,Special education school,No,...,NaN,23.0,32.0,0.0,3.0,0.0,0.0,2.0,0.0,2.0
2210,2015,421917006664,Pittsburgh Pioneer,Pennsylvania,Pittsburgh SD,15226,"City, large",Other,Special education school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2221,2015,421917006811,Pittsburgh Conroy,Pennsylvania,Pittsburgh SD,15233,"City, large",Other,Special education school,No,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#Proportion of nulls regular school type
percent_null_df(df_school_regular,'df_school_regular')

'percent of nulls in df_school_regular is 15%'

In [15]:
#Proportion of nulls vocational school type
percent_null_df(df_school_vocational,'df_school_vocational')

'percent of nulls in df_school_vocational is 43%'

In [16]:
#Proportion of nulls alternative school type
percent_null_df(df_school_alternative,'df_school_alternative')

'percent of nulls in df_school_alternative is 31%'

In [17]:
#Proportion of nulls special education school type
percent_null_df(df_school_special,'df_school_special')

'percent of nulls in df_school_special is 31%'

Our Other/alternative school in the school_type field includes jails and detention centers. Many of these correctional facilities have a lot of NaN values in other data fields. We will remove all rows with alternative schools since there seems to be many missing values for these types of schools and because students in these types of schools are experiencing circumstances and educational experiences very different from the majority of students.

We will also remove vocational and special education school types as these school types are a small percentage of the data and have high proportion of nulls

In [18]:
df_school.shape[0]

7181

In [19]:
df_school.drop(df_school[df_school['school_type'] == 'Other/alternative school' ].index, inplace = True)
df_school.shape[0]

7047

In [20]:
df_school.drop(df_school[df_school['school_type'] == 'Vocational school' ].index, inplace = True)
df_school.shape[0]

6810

In [21]:
df_school.drop(df_school[df_school['school_type'] == 'Special education school' ].index, inplace = True)
df_school.shape[0]

6748

### Drop all subject enrollment columns

In [22]:
#Let's look at how many nulls we are dealing with now
percent_null_df(df_school,'df_school')

'percent of nulls in df_school is 15%'

In [23]:
df_school.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6748 entries, 3 to 3013
Data columns (total 64 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             6748 non-null   int64
 1   ncessch                          6748 non-null   int64
 2   school_name                      6748 non-null   object
 3   state_name                       6748 non-null   object
 4   lea_name                         6748 non-null   object
 5   zip_location                     6748 non-null   int64
 6   urban_centric_locale             6748 non-null   object
 7   school_level                     6748 non-null   object
 8   school_type                      6748 non-null   object
 9   charter                          6748 non-null   object
 10  enrollment                       6636 non-null   object
 11  read_test_num_valid              6432 non-null   float64
 12  read_test_pct_prof_low           6432 non-null   object
 13  read_test_pct_prof_high          6432 non-null   object
 14  read_test_pct_prof_midpt         6432 non-null   object
 15  math_test_num_valid              6432 non-null   float64
 16  math_test_pct_prof_low           6432 non-null   object
 17  math_test_pct_prof_high          6432 non-null   object
 18  math_test_pct_prof_midpt         6432 non-null   object
 19  students_susp_in_sch             6603 non-null   object
 20  students_susp_out_sch_single     6603 non-null   object
 21  students_susp_out_sch_multiple   6603 non-null   object
 22  expulsions_no_ed_serv            6603 non-null   object
 23  expulsions_with_ed_serv          6603 non-null   object
 24  expulsions_zero_tolerance        6603 non-null   object
 25  students_corporal_punish         6603 non-null   object
 26  students_arrested                6603 non-null   object
 27  students_referred_law_enforce    6603 non-null   object
 28  transfers_alt_sch_disc           6603 non-null   float64
 29  days_suspended                   6261 non-null   float64
 30  suspensions_instances_preschool  6261 non-null   float64
 31  suspensions_instances            6261 non-null   float64
 32  corpinstances_preschool          6261 non-null   float64
 33  corpinstances                    6261 non-null   float64
 34  salaries_teachers                6261 non-null   object
 35  cohort_num                       2215 non-null   float64
 36  grad_rate_high                   2215 non-null   object
 37  grad_rate_low                    2215 non-null   object
 38  grad_rate_midpt                  2215 non-null   object
 39  allegations_harass_sex           6603 non-null   object
 40  allegations_harass_race          6603 non-null   object
 41  allegations_harass_disability    6603 non-null   object
 42  allegations_harass_orientation   6603 non-null   object
 43  allegations_harass_religion      6603 non-null   object
 44  students_disc_harass_dis         6603 non-null   float64
 45  students_disc_harass_race        6603 non-null   float64
 46  students_disc_harass_sex         6603 non-null   float64
 47  students_report_harass_dis       6603 non-null   float64
 48  students_report_harass_race      6603 non-null   float64
 49  students_report_harass_sex       6603 non-null   float64
 50  enrl_biology                     1884 non-null   float64
 51  enrl_chemistry                   1840 non-null   float64
 52  enrl_advanced_math               1688 non-null   float64
 53  enrl_calculus                    1612 non-null   float64
 54  enrl_algebra2                    1874 non-null   float64
 55  enrl_physics                     1719 non-null   float64
 56  enrl_geometry                    1875 non-null   float64
 57  instances_mech_restraint         5837 non-null   float64
 58  instances_phys_restraint         6179 non-null   float64
 59  instances_seclusion              6179 non-null   float64
 60  students_mech_restraint          5839 non-null   float64
 61  students_phys_restraint          6181 non-null   float64
 62  students_seclusion               6181 non-null   float64
 63  students_SAT_ACT                 6603 non-null   float64
dtypes: float64(29), int64(3), object(32)
memory usage: 3.3+ MB

The class subject enrollment columns stand out as having the most null values let's drop those columns.

In [24]:
df_school = df_school.drop(['enrl_biology', 'enrl_chemistry','enrl_advanced_math',
                            'enrl_calculus','enrl_algebra2','enrl_physics',
                            'enrl_geometry'], axis=1)

In [25]:
#How do our nulls look
percent_null_df(df_school,'df_school')

'percent of nulls in df_school is 8%'

### Graduation Rate - format the target

- The graduation rates are numerical values separated into three columns.
 - grad_rate_high
 - grad_rate_midpt 
 - grad_rate_low
 
- Looking at the data documentation from EDFacts https://www2.ed.gov/about/inits/ed/edfacts/index.htmlThe we see that the reason for multiple columns is that some schools choose to report graduation rates in a range so that student privacy is protected. The range creates a low and a high column with the midpoint being the value in the middle of the low and high values.
- We will use grad_rate_midpt to measure graduation rates as this is the most balanced.


- The federal government defines graduation rates as low when less than 2/3 of a cohort receive a diploma in 4 years or less.  
- We will classify high schools with midpoint graduation rates 66 and below as low and high schools with midpoint graduation rates of 67 and above as high.

In [26]:
grad_rate_cols = ['school_name','cohort_num','grad_rate_high','grad_rate_midpt',
                  'grad_rate_low']

In [33]:
df_school[grad_rate_cols].head(10)

KeyError: "['grad_rate_low', 'grad_rate_high'] not in index"

In [28]:
df_school = df_school.drop(['grad_rate_high','grad_rate_low'], axis=1)

In [29]:
df_school.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6748 entries, 3 to 3013
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             6748 non-null   int64
 1   ncessch                          6748 non-null   int64
 2   school_name                      6748 non-null   object
 3   state_name                       6748 non-null   object
 4   lea_name                         6748 non-null   object
 5   zip_location                     6748 non-null   int64
 6   urban_centric_locale             6748 non-null   object
 7   school_level                     6748 non-null   object
 8   school_type                      6748 non-null   object
 9   charter                          6748 non-null   object
 10  enrollment                       6636 non-null   object
 11  read_test_num_valid              6432 non-null   float64
 12  read_test_pct_prof_low           6432 non-null   object
 13  read_test_pct_prof_high          6432 non-null   object
 14  read_test_pct_prof_midpt         6432 non-null   object
 15  math_test_num_valid              6432 non-null   float64
 16  math_test_pct_prof_low           6432 non-null   object
 17  math_test_pct_prof_high          6432 non-null   object
 18  math_test_pct_prof_midpt         6432 non-null   object
 19  students_susp_in_sch             6603 non-null   object
 20  students_susp_out_sch_single     6603 non-null   object
 21  students_susp_out_sch_multiple   6603 non-null   object
 22  expulsions_no_ed_serv            6603 non-null   object
 23  expulsions_with_ed_serv          6603 non-null   object
 24  expulsions_zero_tolerance        6603 non-null   object
 25  students_corporal_punish         6603 non-null   object
 26  students_arrested                6603 non-null   object
 27  students_referred_law_enforce    6603 non-null   object
 28  transfers_alt_sch_disc           6603 non-null   float64
 29  days_suspended                   6261 non-null   float64
 30  suspensions_instances_preschool  6261 non-null   float64
 31  suspensions_instances            6261 non-null   float64
 32  corpinstances_preschool          6261 non-null   float64
 33  corpinstances                    6261 non-null   float64
 34  salaries_teachers                6261 non-null   object
 35  cohort_num                       2215 non-null   float64
 36  grad_rate_midpt                  2215 non-null   object
 37  allegations_harass_sex           6603 non-null   object
 38  allegations_harass_race          6603 non-null   object
 39  allegations_harass_disability    6603 non-null   object
 40  allegations_harass_orientation   6603 non-null   object
 41  allegations_harass_religion      6603 non-null   object
 42  students_disc_harass_dis         6603 non-null   float64
 43  students_disc_harass_race        6603 non-null   float64
 44  students_disc_harass_sex         6603 non-null   float64
 45  students_report_harass_dis       6603 non-null   float64
 46  students_report_harass_race      6603 non-null   float64
 47  students_report_harass_sex       6603 non-null   float64
 48  instances_mech_restraint         5837 non-null   float64
 49  instances_phys_restraint         6179 non-null   float64
 50  instances_seclusion              6179 non-null   float64
 51  students_mech_restraint          5839 non-null   float64
 52  students_phys_restraint          6181 non-null   float64
 53  students_seclusion               6181 non-null   float64
 54  students_SAT_ACT                 6603 non-null   float64
dtypes: float64(22), int64(3), object(30)
memory usage: 2.9+ MB

In [35]:
df_school.drop(df_school[df_school['grad_rate_midpt'] == 'Suppressed data' ].index, inplace = True)
df_school.shape[0]

6719

In [ ]:
df_school.drop(df_school[df_school['grad_rate_midpt'] == 0 ].index, inplace = True)
df_school.shape[0]

In [ ]:
# convert grad rate columns to numeric
df_school[['grad_rate_midpt']] = df_school[['grad_rate_midpt']].astype(str).astype(int)

In [ ]:
# Let's take a look at the summary statistics for each grad_rate column
for col in grad_rate_cols:
    print(df_school[col].describe())

In [ ]:
# print top 5 most frequent values in each grad_rate column
for col in df_school['grad_rate_midpt'].columns:
    print(col, '\n', df_school[col].value_counts(normalize=True).head(), '\n\n')

In [ ]:
# Plot of the target status group

plt.hist(df_school['grad_rate_high'])
plt.xlabel('grad_rate_high', fontsize=14)
plt.title("Distribution High Graduation Rates", fontsize=16)
plt.show()

The read_test_num_valid column and the math_test_num_valid column desribe the Number of students who completed a reading, and math assessment and for whom a proficiency level was assigned

The low, high, and midpt columns describe the low, high, and midpoint of the range used to report the share of students scoring proficient on a reading or language arts assessment (0–100 scale)

In [ ]:
percent_null = ((1025-992)/1025)*100
percent_null

A small percentage of these columns are null (3.2%). We need to investigate these columns to figure out if we want to keep them and how to address the nulls if we do.

In [ ]:
read_test = ['school_name', 'read_test_num_valid', 'read_test_pct_prof_low', 
             'read_test_pct_prof_high', 'read_test_pct_prof_midpt']

In [ ]:
df_school[read_test].head(20)

In [ ]:
math_test = ['school_name', 'math_test_num_valid' , 'math_test_pct_prof_low', 
             'math_test_pct_prof_high', 'math_test_pct_prof_midpt']

In [ ]:
df_school[math_test].head(20)

In [ ]:
df_district = pd.concat([df_district_NY, df_district_PA, df_district_NJ])

In [ ]:
df_district.head()

In [ ]:
df_district.info()

In [ ]:
df_district['enrollment'].value_counts(normalize=True,dropna=False)

In [ ]:
# Plot of the target status group

plt.hist(df_schools['grad_rate'])
plt.xlabel('grad_rate', fontsize=14)
plt.title("Distribution of Graduation Rate", fontsize=16)
plt.show()

In [ ]:
df_train['amount_tsh'].value_counts(normalize=True, dropna=False)

In [ ]:
df_school_null = df_school[df_school.isna().any(axis=1)]
df_school_null

## Columns to drop

Drop year as this is the same for all rows

## Missing Values

### Many Individual Values

### Not Significant

- Combine grad rates into single binary column
- Drop outlay_capital_arra 
- nulls in all enrl fields
- nulls in corp inst

In [ ]:
def target_col (row):
   if row['eri_hispanic   '] == 1 :
      return 'Hispanic'
   if row['eri_afr_amer'] + row['eri_asian'] + row['eri_hawaiian'] + row['eri_nat_amer'] + row['eri_white'] > 1 :
      return 'Two Or More'
   if row['eri_nat_amer'] == 1 :
      return 'A/I AK Native'
   if row['eri_asian'] == 1:
      return 'Asian'
   if row['eri_afr_amer']  == 1:
      return 'Black/AA'
   if row['eri_hawaiian'] == 1:
      return 'Haw/Pac Isl.'
   if row['eri_white'] == 1:
      return 'White'
   return 'Other'

# Data Preparation

## Join Target

In [ ]:
df_train = df_school.merge(df_district, on = 'lea_name')
df_train.head()

In [ ]:
df_train.info()

In [ ]:
# print top 5 most frequent values in each column
for col in df_train_set.columns:
    print(col, '\n', df_train_set[col].value_counts(normalize=True).head(), '\n\n')

## Categorical and Numerical

### Join Target: df_train_set to df_train

### Column Binning

# Train Test Split

# Model Development